@model PatrykRuczkinLab4PracDom.Models.RecipeViewModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Książka Patryka</h1>

<div>
    
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.Photo)" alt="@Model.Name"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót</a>
</div>
